################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Blog.Core/.vs
/.vs/Blog.Core/v15/Server/sqlite3
/Blog.Core/bin/Debug/netcoreapp2.1
/Blog.Core/obj
/.vs/Blog.Core/v15
